version: '3.4'

services:

  aiinferencer:
      image: ${DOCKER_REGISTRY-}aiinferencer
      build:
        context: src/Services/Detections/ai_inferencer
        dockerfile: Dockerfile
      depends_on: 
        - alertsapi-dapr
        
  aiinferencer-dapr:
    image: "daprio/daprd:latest"
    depends_on:
      - aiinferencer
    network_mode: "service:aiinferencer"

  rulesengine: 
    image: ${DOCKER_REGISTRY-}rulesengine
    build:
      context: .
      dockerfile: src/Services/Alerts/RulesEngine/Dockerfile
    depends_on:
    - mongodb

  rulesengine-dapr:
    image: "daprio/daprd:latest"
    depends_on:
    - rulesengine
    network_mode: "service:rulesengine"

  framesplitter:
      image: ${DOCKER_REGISTRY-}framesplitter
      build:
        context: src/Services/Detections/frameSplitter
        dockerfile: Dockerfile
      depends_on:
        - aiinferencer-dapr

  framesplitter-dapr:
    image: "daprio/daprd:latest"
    depends_on:
      - framesplitter
    network_mode: "service:framesplitter"

  alerts-api: 
    image: ${DOCKER_REGISTRY-}alerts-api
    build:
      context: .
      dockerfile: src/Services/Alerts/api/Dockerfile
    depends_on:
    - mongodb

  alertsapi-dapr:
    image: "daprio/daprd:latest"
    depends_on:
    - alerts-api
    network_mode: "service:alerts-api"
  
  alerts-ui:
    image: ${DOCKER_REGISTRY-}newalerts-ui
    build:
      context: .
      dockerfile: src/Web/newalertsui/Dockerfile
    depends_on:
      - alertsapi-dapr

  alerts-ui-dapr:
    image: "daprio/daprd:latest"
    depends_on:
      - alerts-ui
    network_mode: "service:alerts-ui"

  mosquitto:
    hostname: mosquitto
    container_name: mosquitto_container
    image: eclipse-mosquitto:1.6.10
 
  mongodb:
    image: mongo
    container_name: mongodb
    hostname: mongo