html {
    color: #343333;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    /* margin-bottom: 60px; */
    height: 100%;
    color: #343333;
}

table, tr {
    border: 1px solid;
    width: 100%;
    /* border-color: #343333 !important; */
}

th {
    font-size: smaller !important;
    background-color: #8CA9BF;
    border: 1px;
    border-color: #343333 !important;
    position: sticky;
    top: 0;
    text-align:center;
    font-size: x-large !important;
}

td {
    background-color: #F3F3F3;
    cursor: pointer;
    font-size: large !important;
}


text-left-align 
{
    text-align:left;
}

.line {
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #F3F3F3;
    opacity: 1;
}

.filter-icon {
    height: 1.25rem;
    width: 1.25rem;
    fill: #343333;
    opacity: .7;
    margin-left: 2px;
    stroke: black;
    stroke-width: 1px;
    align-self: center;
}
    .filter-icon:hover {
        cursor: pointer;
        fill: #98A2AC;
    }
    .filter-icon:active {
        fill: #F3F3F3;
    }

.button-table {
    background-color: #8CA9BF;
    border: 0px;
    color: #343333;
}
    .button-table:active {
        background-color: #F3F3F3;
    }

.table-header {
    font-size: large;
    font-weight: bold;
    height: 30px;
}

.fixed-header {
    /* position: sticky; */
    top: 0;
    z-index: 1;
}

.information {
    width: 2.5rem;
    height: 2.5rem;
    fill: #8CA9BF;
}

.empty-folder {
    width: 6rem;
    height: 6rem;
}

.priority-container {
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .125rem;
    padding-bottom: .125rem;
}

.priority-svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.info-container {
    width: 100%;
    height: 100%;
}

.alert-description {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
}

.alert-image {
    width: 100%;
    height: 45%;
}

.selected-alert {
    background-color: #D8F6FF;
}

.text-mWhite {
    color: #F3F3F3;
    font-weight: 200;
    font-size: medium;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.filter-button {
    background-color: #5E7EA7;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    border-color: #5E7EA7 !important;
}
    .filter-button:hover {
        background-color: #38495C;
    }
    .filter-button:active {
        background-color: #F3F3F3;
    }

.alert-text {
    display: inline-block;
    text-align: left;
}

#page {
    height: 100%;
    width: 100%;
}

#content {
    background-image: url('../assets/background.png');
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
}

#data {
    width: 100%;
    height: auto;
}

#logo {
    height: 3rem;
    width: 3rem;
    margin: .5rem;
    margin-top: 1rem;
}

#icon {
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: #B9B9B9;
    cursor: pointer;
}
    #icon:active {
        background-color: #d1d5db;
    }

#page-title {
    font-size: 3rem;
    color: #343333;
}

#left {
    /* width: 52%; */
    /* height: 90%; */
}

#right {
    width: 48%;
    height: auto;
}

#info-content {
    width: 90%;
    height: 100%;
}

#table {
    width: 100%;
}

#table::-webkit-scrollbar {
    appearance: none;
}

    #table::-webkit-scrollbar:vertical {
        width: 5px;
        background-color: #34495E;
        border-radius: 8px;
    }
    #table::-webkit-scrollbar:horizontal {
        height: 0px;
    }
    #table::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(243, 243, 243, .8);
    }

#danger {
    background-color: rgba(220, 38, 38, .3);
    border-color: #721C24 !important;
}

#danger-svg {
    fill: #721C24;
}

#danger-text {
    color: #721C24;
}

#warning {
    background-color: rgba(234, 179, 8, .3);
    border-color: #856404 !important;
}

#warning-svg {
    fill: #856404;
}

#warning-text {
    color: #856404;
}

#info {
    background-color: rgba(52, 51, 51, .3);
    border-color: #343333 !important;
}

#info-svg {
    fill: #343333;
}

#info-text {
    color: #343333;
}

#no-alert {
    border: dashed !important;
}

#text-selected {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    text-align: left;
}

#alert-filter {
    background-color: rgba(52, 51, 51, .9);
    position: absolute;
    top: 100px;
    left: 655px;
}

#source-filter {
    background-color: rgba(52, 51, 51, .9);
    position: absolute;
    top: 100px;
    left: 525px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #8CA9BF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8CA9BF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}
    .slider.round:before {
        border-radius: 50%;
    }

