apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  namespace: solution-accelerator-mec
spec:
  selector:
    matchLabels:
      app: mongodb
  replicas: 1
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      hostname: mongo
      containers:
      - name: mongodb
        image: mongo:4.4
        ports:
        - containerPort: 27017
---

apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: solution-accelerator-mec
spec:
  selector:
    app: mongodb
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
  type: ClusterIP