# Ignore Next.js build output
/.next/

# Ignore Node.js modules
node_modules/

# Ignore development server logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files (for local development)
.env
.env.*

# Ignore build artifacts
out/
