@page "/"
@model NewAlertsUI.Pages.Alerts.IndexAlertModel
@{
    ViewBag.Title = "Alerts";
}

<div style="display: flex; width: 100%;">
  <div style="flex: 1;">
        <div id="alertsTableDiv"> 
        </div>
  </div>
  <div style="flex: 1;">
        <div id="alertsDetailsDiv">
        </div>
  </div>
</div>


@section scripts{
    <script>
        $(function () {
            setInterval(function () {
                $.get({
                    url: '/?handler=Refresh',
                    success: function (result) {
                        $('#alertsTableDiv').html(result);
                    }
                });
            }, 3000); // 3 seconds
        });
    </script>

    <script>
        $(document).on('click', '#alertsTable tbody tr', function () {
            var elementId = $(this).attr('element-id');
            $.get({
                   url: '/?handler=Details&id=' + elementId,
                   success: function (result) {
                    $('#alertsDetailsDiv').html(result);
                   }
            });
        });

    </script>
}