@page "/"
@model NewAlertsUI.Pages.Alerts.IndexAlertModel
@{
    ViewBag.Title = "Alerts";
}

<div style="display: flex; width: 100%;">
  <div style="flex: 1;">
        <div id="alertsTableDiv">
            @await Html.PartialAsync("_AlertsTable", Model.alerts)
        </div>
  </div>
  <div style="flex: 1;">
        <div id="alertsDetailsDiv">
            @await Html.PartialAsync("_AlertsDetails", Model.test)
        </div>
  </div>
</div>



<button id="refreshButton">Refresh</button>

@section scripts{
    <script>
        $(function () {
            $('#refreshButton').click(function (e) {
                e.preventDefault();
                $.get({
                    url: '/?handler=Refresh',
                    success: function (result) {
                        $('#alertsTableDiv').html(result);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#alertsTableDiv tbody tr').click(function () {
                var elementId = $(this).data('element-id');
                $.ajax({
                    url: '/?Handler=Details' + elementId,
                    type: 'GET',
                    success: function (result) {
                        $('#alertsDetailsDiv').html(result);
                    }
                });
            });
        });
    </script>
}