html {
    color: #343333;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

body {
    margin-bottom: 60px;
    height: 100%;
    color: #343333;
}

table, tr {
    border: 1px;
    width: 100%;
    border-color: #343333;
}

th {
    font-size: large;
    background-color: #8CA9BF;
    border: 1px;
    border-color: #343333 !important;
}

td {
    background-color: #F3F3F3;
}

.line {
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #F3F3F3;
    opacity: 1;
}

.zoom-button {
    height: 2rem;
    width: 2rem;
    stroke: #343333;
    background-color: rgba(152, 162, 172, .8);
    z-index: 2;
}

.filter-icon {
    height: 1.25rem;
    width: 1.25rem;
    fill: #343333;
    opacity: .7;
    margin-left: 2px;
    stroke: black;
    stroke-width: 1px;
    align-self: center;
}
    .filter-icon:hover {
        cursor: pointer;
        fill: #98A2AC;
    }
    .filter-icon:active {
        fill: #F3F3F3;
    }

.button-table {
    background-color: #8CA9BF;
    border: 0px;
    color: #343333;
}
    .button-table:active {
        background-color: #F3F3F3;
    }

.table-header {
    font-size: large;
    font-weight: bold;
}

.information {
    width: 2.5rem;
    height: 2.5rem;
    fill: #8CA9BF;
}

.empty-folder {
    width: 6rem;
    height: 6rem;
}

.priority-container {
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .125rem;
    padding-bottom: .125rem;
}

.priority-svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.info-container {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
    border: dashed !important;
}

.bg-alertSelected {
    background-color: #E3F8FF;
}

#page {
    height: 100%;
    width: 100%;
}

#content {
    background-image: url('../assets/background.png');
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
}

#logo {
    height: 3rem;
    width: 3rem;
    margin: .5rem;
    margin-top: 1rem;
}

#icon {
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
}
    #icon:hover {
        background-color: #B9B9B9;
    }
    #icon:active {
        background-color: #d1d5db;
    }

#page-title {
    font-size: 3rem;
    color: #343333;
}

#data {
    width: 100%;
    height: 100%;
}

#left {
    width: 50%;
    height: 100%;
}

#right {
    width: 50%;
    height: 100%;
}

#canvas {
    width: 90%;
    height: 50%;
    overflow: hidden;
    overscroll-behavior:contain;
}

#info-content {
    width: 90%;
    height: 50%;
}

#container {
    overflow: scroll;
}

#image {
    background-image: url('../assets/map.jpg');
}

#zoom-control {
    position: absolute;
    bottom: 3.5rem;
    right: .25rem;
}

#zoom-in {
    margin-bottom: 2px;
}

#table {
    width: 100%;
}

#table::-webkit-scrollbar {
    appearance: none;
}

    #table::-webkit-scrollbar:vertical {
        width: 5px;
        background-color: #34495E;
        border-radius: 8px;
    }
    #table::-webkit-scrollbar:horizontal {
        height: 0px;
    }
    #table::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(243, 243, 243, .8);
    }

#danger {
    background-color: rgba(220, 38, 38, .3);
    border-color: #721C24 !important;
}

#danger-svg {
    fill: #721C24;
}

#danger-text {
    color: #721C24;
}

#warning {
    background-color: rgba(234, 179, 8, .3);
    border-color: #856404 !important;
}

#warning-svg {
    fill: #856404;
}

#warning-text {
    color: #856404;
}

#info {
    background-color: rgba(52, 51, 51, .3);
    border-color: #343333 !important;
}

#info-svg {
    fill: #343333;
}

#info-text {
    color: #343333;
}